<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-membershipext">
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.street" /></td>
		<td>{membership.street}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.zip" /></td>
		<td>{membership.zip}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.city" /></td>
		<td>{membership.city}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.phone" /></td>
		<td>{membership.phone}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.email" /></td>
		<td>{membership.email}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_membershipext_domain_model_membership.www" /></td>
		<td>{membership.www}</td>
	</tr>
</table>
</html>
