<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:asset.script identifier="membershipfilterjs" src="EXT:t3package/Resources/Public/JavaScript/membership-filter.js" />
<h2>
  Suchergebnisse (
  <span id="membershipCount">{memberships -> f:count()}</span>
  )
</h2>

<f:for each="{memberships}" as="membership">
  <a href="/membership-detail?tx_membershipext_membership[membership]={membership.uid}">

    
    <!-- Categories -->
    <f:if condition="{membership.categories}">
      <p>
        <strong>Categories:</strong>
        <f:for each="{membership.categories}" as="category">
          <span class="category-badge">
            {category.title}
          </span>
        </f:for>
      </p>
    </f:if>

    <div class="membership-block">
      <div>
        <p><strong>Address</strong></p>
        <p>
          {membership.street} {membership.city} {membership.zip}
        </p>
      </div>

      <div>
        <p><strong>Phone</strong> {membership.phone}</p>
        <p><strong>Email</strong> {membership.email}</p>
        <p><strong>Website</strong> {membership.www}</p>
      </div>
    </div>

  </a>
</f:for>

<f:if condition="{memberships -> f:count()} == 0">
  <p>No results found.</p>
</f:if>
