<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:asset.script identifier="membershipfilterjs" src="EXT:t3package/Resources/Public/JavaScript/membership-filter.js" />

<f:layout name="Default" />

<f:section name="content">
  <div class="container">
    <h1>Listing for Membership</h1>

    <f:flashMessages />

    <!-- Filter Form -->
    <f:form action="ajaxList" method="POST" additionalAttributes="{
      id: 'filterForm',
      'data-ajax-url': '{f:uri.action(action: \'List\')}'
    }">
      <div>
        <h3>Search</h3>
        <f:form.textfield name="search" value="{search}" placeholder="Search memberships..." />
      </div>
      <div>
        <h3>Filter by Category</h3>
        <f:for each="{categories}" as="category">
          <label>
            <f:form.checkbox name="categories[]" value="{category.uid}"
              checked="{f:if(condition: '{category.uid} in {selectedCategories}', then: 'checked', else: '')}"
              class="category-filter" />
            {category.title}
          </label><br />
        </f:for>
      </div>
      <button type="submit">Apply Filter</button>
      <f:link.action action="list" controller="Membership" extensionName="Membershipext" pluginName="Membership">Reset
        Filter</f:link.action>
    </f:form>

    <div class="tx_membershipext">
      <h2>Suchergebnisse ( <span id="membershipCount">{memberships -> f:count()}</span> )</h2>
      <div class="align-items-stretch" id="membershipResults">
        <f:render partial="Membership/Items" arguments="{memberships: memberships}" />
      </div>


      <f:if condition="{totalCount} > {limit}">
        <div class="text-center" id="loadMoreContainer">
          <button class="primary-button" id="showMoreBtn" data-url="{f:uri.action(action:'list')}" data-limit="{limit}"
            data-offset="{limit}" data-total="{totalCount}" data-search="{search}"
            data-categories="{selectedCategoriesString}">
            Load More
          </button>
        </div>
      </f:if>





    </div>
  </div>
</f:section>

</html>