<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:asset.css identifier="ceh" href="EXT:t3package/Resources/Public/Css/membershipList.css" />
	<f:asset.script
    identifier="jquery"
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    priority="1"
/>
	<f:asset.script identifier="filterjs" src="EXT:t3package/Resources/Public/JavaScript/membership-filter.js" />
	<div class="tx-membershipext">
		<f:render section="content" />
	</div>
</html>